*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: rgb(24, 58, 74);
}

h2{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
    font-size: 5rem;
    text-align: center;
    padding: 30px 0;
}

.container-box{
    display: flex;
    flex-wrap: wrap;
}

.box{
    flex: 0 0 calc((100% / 7) - 40px);
    margin: 20px;
    padding: 0;
    background-color: rgb(62, 135, 174);
}

.multiple-3{
    background-color: rgb(97, 210, 164);
}

.multiple-5{
    background-color: rgb(248, 210, 119);
}

.multiple-3-5{
    background-color: rgb(222, 84, 113);
}